@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Meu Primeiro Projeto</h1>
    <p>
        Meu nome é Esdras e ese é meu mini projeto que é uma lsita de cursos que ja fiz e usando o ASP.Net Core MVC
        irei listá-los aqui, estou muito feliz em aprender esta tecnologia, até mais &#x1F44B;
    </p>
</div>
